# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# project specific

# any file in pii_model directory
pii_model/*
!pii_model/README.md
.venv/
__pycache__/
*.pyc
.ruff_cache/

# Node.js dependencies
node_modules/
ui/node_modules/
tokenizers/
pii_onnx_model/*
!pii_onnx_model/.placeholder
dist/
!ui/dist/
ui/dist/*.js
ui/dist/*.html
ui/dist/*.txt
ui/dist/*.css
ui/dist/*.map
ui/src/
ui/public/
ui/package.json
ui/package-lock.json
ui/yarn.lock
ui/tsconfig.json
ui/vite.config.ts
ui/index.html
ui/tailwind.config.js
ui/postcss.config.js
!ui/dist/.placeholder
build/
