[Unit]
Description=Kiji Privacy Proxy
After=network.target

[Service]
Type=simple
DynamicUser=yes
StateDirectory=kiji-proxy
Environment="LD_LIBRARY_PATH=/opt/kiji-privacy-proxy/lib"
Environment="KIJI_DATA_PATH=/var/lib/kiji-proxy"
ExecStart=/opt/kiji-privacy-proxy/bin/kiji-proxy
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
