name: Semantic PR Title

on:
  pull_request_target:
    types: [opened, edited, synchronize]

permissions:
  pull-requests: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@e32d7e603df1aa1ba07e981f2a23455dee596825 # v5
        id: lint_pr_title
        with:
          types: |
            feat
            fix
            docs
            style
            chore
            refactor
            test
            ci
            perf
          requireScope: false
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: "Subject must not start with an uppercase letter"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2
        if: always() && (steps.lint_pr_title.outputs.error_message != null)
        with:
          header: pr-title-lint-error
          message: |
            > [!WARNING]
            > **PR title does not follow the Conventional Commits specification.**

            ${{ steps.lint_pr_title.outputs.error_message }}

            ---

            # Semantic Commit Messages

            See how a minor change to your commit message style can make you a better programmer.

            Format: `<type>(<scope>): <subject>`

            `<scope>` is optional

            ## Example

            ```
            feat: add hat wobble
            ^--^  ^------------^
            |     |
            |     +-> Summary in present tense.
            |
            +-------> Type: chore, docs, feat, fix, refactor, style, or test.
            ```

            More Examples:

            - `feat`: (new feature for the user, not a new feature for build script)
            - `fix`: (bug fix for the user, not a fix to a build script)
            - `docs`: (changes to the documentation)
            - `style`: (formatting, missing semi colons, etc; no production code change)
            - `refactor`: (refactoring production code, eg. renaming a variable)
            - `test`: (adding missing tests, refactoring tests; no production code change)
            - `chore`: (updating grunt tasks etc; no production code change)

            References:

            - https://www.conventionalcommits.org/
            - https://seesparkbox.com/foundry/semantic_commit_messages
            - http://karma-runner.github.io/1.0/dev/git-commit-msg.html

      - uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2
        if: ${{ steps.lint_pr_title.outputs.error_message == null }}
        with:
          header: pr-title-lint-error
          delete: true
